@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    color: #fff;
    padding: 0px 20px;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(122, 121, 121);
    border-radius: 10px;
  }

nav{
    width: calc(100vw - 40px);
    background-color: #40ddf1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    top: 0;
}
.sign{
    font-family: 'Allura', cursive;
    font-weight: 600;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    /* padding-bottom: 14px; */
    color: rgb(235, 232, 232);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    transition: 0.3s all ease-in-out;
    margin: 30px auto;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
}

.name-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: #40ddf1;
    height: 100vh;
}
.name-section h1{
    font-family: 'Allura', cursive;
    font-size: 80px;
    font-weight: 400;
    position: relative;
    top: -30px;
}
.name-section button{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    color: #fff;
}
.name-section button:hover{
    color: #40ddf1;
    background-color: #fff;
}
.name-section p{
    color: #fff;
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
    display: flex;
}
.box{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    position: relative;
    top: -30px;
}
.typed-out{
    overflow: hidden;
    border-right: .10em solid rgb(189, 187, 187);
    white-space: nowrap;
    animation: typing 3s steps(20, end) forwards, blinking .8s infinite;
    font-size: 1.6rem;
    font-weight: 600;
    width: 0;
    padding-right: 3px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blinking {
    from { border-color: transparent }
    to { border-color: rgb(201, 198, 198); }
  }